.headerContainer {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('../../../assets/banner.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .headerContainer h3 {
    text-align: center;
    font-size: 16px;
    width: 80%;
    margin-bottom: 35px;
    font-family: "Red Hat Display", sans-serif;
  }
  
  .headerContainer img {
    width: 500px;
    height: 120px;
  }
  
  .play-icon-section {
    position: absolute;
    bottom: -30px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0d5db8;
    font-size: 30px;
    animation: pulse 1.5s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Tablet için Media Query (768px'e kadar) */
  @media screen and (max-width: 768px) {
    .headerContainer {
      height: 300px;
    }
  
    .headerContainer h3 {
      font-size: 14px;
      width: 90%;
      margin-bottom: 25px;
    }
  
    .headerContainer img {
      width: 400px;
      height: 100px;
    }
  
    .play-icon-section {
      width: 60px;
      height: 60px;
      bottom: -25px;
    }
  
    .play-icon {
      font-size: 25px;
    }
  }
  
  /* Mobil için Media Query (480px'e kadar) */
  @media screen and (max-width: 520px) {
    .headerContainer {
      width: 100%;
      height: 280px;
    }
  
    .headerContainer h3 {
      font-size: 13px;
      width: 95%;
      margin-bottom: 20px;
    }
  
    .headerContainer img {
      width: 300px;
      height: 80px;
    }
  
    .play-icon-section {
      width: 50px;
      height: 50px;
      bottom: -20px;
    }
  
    .play-icon {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 390px) {
    .headerContainer {
      width: 100%;
      height: 220px !important;
    }
  
    .headerContainer h3 {
      font-size: 12px;
    }
  
    .play-icon-section {
      width: 45px;
      height: 45px;
    }
  
    .play-icon {
      font-size: 18px;
    }
  }